@charset "utf-8";

@font-face {
    font-family: 'Eth';
    src: url('fontes/Ethnocentric\ Rg.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    src: url(fontes/Roboto-Light.ttf) format('opentype');
}

body {
    background-color: #84E1AD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: justify;
}

p {
    text-indent: 30px; 
  }

header {
    background-image: linear-gradient(to bottom, #3DDA84, #00361b);
    padding: 5px 5px;
}

header > h1 {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}

header> p {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 5px;
}

header > nav > a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
}

header > nav > a:hover {
    font-weight: bolder;
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    width: 600px;
    margin: auto;
}

main > h1 {
    font-family: 'Eth';
    font-size: 20px;
    color: #1a5c38;
}

main > h2 {
    font-family: 'Eth';
    font-size: 16px;
    color: #1a5c38;
    background-image: linear-gradient(to right, #c3fcdc, transparent);
    padding: 2px;
}

footer {
    background-color: #1A5C38;
    color: rgb(196, 253, 185);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    padding: 1px;
    margin: 10px 0px 0px 0px;
}

span.negrito {
    color: white;
    font-weight: bold;
}

p#titulo {
    background-color: #2FA866;
    padding: 10px;
    margin: 0px;
    text-indent: 0px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: bold;
}

div#caixa {
    background-color: #C5EBD6;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

div#caixa > p#assunto {
    margin: 0;
}

div#caixa > div {
    display: inline-block;
    height: 100px;
    width: 250px;

}